#error{
  font-size: 2.5em;
  color: black;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 500;
  margin-top:3.4em;


}

#article{
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3px;
  word-spacing:2px;


}
/* #link{
  font-size:1.5em;
  font-weight: 500;
  text-align: center;
  color: black;
} */
#homepage{

  font-size:2.5em;
  height:10px;
  width: 630px;
  margin: 0 auto;

  text-align:center;
/

}
 div {
/*     border: 7px solid #001A57;  jnot necessary*/
    width: 900px;
    height: 500px;
    float: right;
    margin: 0 0 10px 10px;
}
